@model List<Product>

<h1>All products</h1>
@foreach(var product in Model){
    <p>Id: @product.Id</p>
    <p>Name: @product.Name</p>
    <p>Price: @product.Price</p>
    <div style="display: flex; gap: 5px; ">
    <p><a asp-action="GetById" asp-route-id="@product.Id">Details</a></p>
    <p><a asp-action="Delete" asp-route-id="@product.Id">Delete</a></p>
    <p><a asp-action="Edit" asp-route-id="@product.Id">Edit</a></p>
    </div>
}
<p><a asp-action="Create">Create new product</a></p>